<%= form_for(@post) do |f| %>
<label>Post title: </label><br>
<%= text_field_tag (:title) %>

<label>Post description: </label><br>
<%= text_field_tag (:description) %>

<%= f.submit "Submit Post", disable_with: 'Submiting...' %>
<% end %>

<h3>Post Form</h3>
